@model IEnumerable<Domain.Entities.Post>
@{
    ViewBag.Title = "Post List";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Open Diary</h1>
    <p>Read the latest most significant posts and write your own! Enjoy!</p>
</div>

<form>
    @foreach (var post in Model)
    {
    <article>
        <h3>@post.Title</h3>
        <p>@post.Date -- @post.User.FirstName @post.User.LastName --- @post.Topic.Text</p>
        @if (post.Text.Length > 200)
        {
            <p>@post.Text?.Substring(0, 200)...</p>
        }
        else
        {
            <p>@post.Text</p>
        }
        <a class="nav-link btn btn-link text-dark" asp-route-postId="@post.Id" asp-controller="Posts" asp-action="Read">Read</a>
    </article>
    }
</form>